{% extends "base.html" %}
{% block title %}Site Festa & Rifa{% endblock %}

{% block content %}
<header class="text-center mb-4">
    <img src="/static/euvou_logo.png" alt="EuVou" class="img-fluid" style="max-height: 100px;">
</header>
<section>
    <h2>Crie e Venda seus Ingressos</h2>
    <p>Organize suas festas e deixe o sistema de venda por nossa conta.</p>
</section>
<section>
    <h2>Crie Rifas Personalizadas</h2>
    <p>Cadastre suas rifas e compartilhe com amigos e clientes para concorrer a prêmios!</p>
</section>
<section>
    <h2>Compre Ingressos e Participe de Rifas</h2>
    <p>Encontre festas e rifas disponíveis para participar.</p>
</section>
{% endblock %}
