{% extends "base.html" %}
{% block title %}Site Festa & Rifa{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1 class="fw-bold display-4">
        Grupo <span style="color: #003366;">E</span><span style="color: #cc0000;">V</span>
    </h1>
    <p class="lead destaque-texto">Especializado em venda de ingressos por todo Brasil</p>
    <p class="mb-4 destaque-texto fst-italic">Se tem festa, Eu Vou!
    <img src="/static/euvou_logo2.png" alt="EuVou" class="img-fluid" style="max-height: 140px;"> </p>
</div>


<section class="text-center balao-section">
    <h2>Crie e Venda seus Ingressos</h2>
    <p>Organize suas festas e deixe o sistema de venda por nossa conta.</p>
</section>

{% endblock %}
